[2017-05-12 15:36] ds300 opened #1 "Use raw mappings when appropriate"
See https://github.com/mhzed/react-native-sm-transformer/issues/3#issuecomment-292629637

[2017-05-12 15:46] cbrevik opened #2 "Is this working? Any examples?"
Hey!

Saw your custom source exts PR landed in RN `0.45.0-rc.0`. Had been working on a similar PR myself some months ago, but never got it working properly. So, thanks for your great work!

Maybe I'm jumping ahead of the readiness of this transformer, but I had to try it out of course.

Just setting up a simple project (https://github.com/cbrevik/tsWithTransformer) I got the following error:
[code

[2017-05-12 16:30] ds300 commented on #2
Funny, I was just testing this for the first time with 0.45.0-rc.0 today, and ran into the same issue.

Found a quick fix for that issue (force the `generateSourceMaps: true` transformer option, see the link in #1), but ran into a minor source map misalignment issue. Looking at it now. I'll hopefully update this repo very soon with a version that works well enough.

[2017-05-12 18:26] ds300 commented on #2
@cbrevik 1.0.3 seems to work. For some reason, the standard method of source map composition was not working, so I had to do it the manual way, but not 100% sure I did the right thing. Seems to work at least. If it works for you, feel free to close this issue.

I also updated the README with more useful setup instructions now that 0.45 is in the RC phase.

[2017-05-12 20:50] cbrevik commented on #2
@ds300 fantastic, seemed to solve it for me as well. Thanks!

I've been looking at the Haul CLI as a potential way forward to handle TypeScript in React Native, but it seems to require too many parts. Hoping that instead your contributions will enable us to more easily use the original packager + minor customisations.

I'll dig some more into this now 👍

[2017-05-12 20:50] #2 closed

[2017-05-12 21:04] cbrevik commented on #2
Actually I seem to have no source maps for any of my tsx-files when debugging from Chrome. Do you experience the same issue?

[2017-05-12 21:40] ds300 commented on #2
I didn't try that yet. Feel free to open another issue for it.

[2017-05-13 07:40] cbrevik opened #3 "Components written in TS has no source maps in Chrome debugger"
Project which reproduces this issue is located [here](https://github.com/cbrevik/tsWithTransformer/tree/20e7dcb07a020d436f0af7fc15cb419c90191f6e).

JavaScript files (for example my `index.ios.js` entry point) has source maps. But my `.tsx` files are blank in Chrome debugger:
![image](https://cloud.githubusercontent.com/assets/4932625/26023603/2ecc31de-37c0-11e7-9aa2-9a66d8dba7b7.png)

[2017-05-13 09:15] #3 closed

[2017-05-13 09:16] ds300 commented on #3
1.0.4 should fix this :) Please re-open the issue if it didn't.

[2017-05-13 09:40] cbrevik commented on #3
That did indeed fix it, thanks! :)

[2017-05-13 12:59] cbrevik opened #4 "Error "React is not defined" if importing component from another folder"
Getting the following error if I move `Button.tsx` down a folder to `./src/components/` and importing it from `./src/index.tsx`:
![image](https://cloud.githubusercontent.com/assets/4932625/26025646/55e5f936-37ec-11e7-89af-e75d80b0ff24.png)
Relevant reproducible code [here](https://github.com/cbrevik/tsWithTransformer/tree/a070516381ccf9aeffdfe0292e01b52e62cefbe4).

If I place `Button.tsx` next to

[2017-05-13 13:04] cbrevik opened #5 "Adding third-party library results in white-screen"
Adding `bugsnag-react-native` and importing it in file results in white-screen in app.

When stepping through code in debugger, it is still calling the relevant `render()` functions of components, so not sure why it behaves like this.

Reproducible code [here](https://github.com/cbrevik/tsWithTransformer/tree/14b53dfbe66aecd0b60ed32f3d9e5dc4030694fc).

[2017-05-13 13:34] ds300 commented on #4
a070516381ccf9aeffdfe0292e01b52e62cefbe4 is working fine for me :thinking:

Did you try resetting your packager cache? `yarn start -- --reset-cache`?

[2017-05-13 13:42] cbrevik commented on #4
Aw shit, you're correct. Resetting cache like that solved it. Tried a lot of other things before reporting, sorry!

[2017-05-13 13:42] #4 closed

[2017-05-13 13:47] ds300 commented on #5
Again, that commit works fine for me on iOS and Android. Did clearing the cache help with this too?

[2017-05-13 13:52] cbrevik commented on #5
Of course it did, sorry for wasting your time. 😞

Find it a bit weird that I have to do that for both issues though. I didn't do anything special I wouldn't have done otherwise while setting up a project.

[2017-05-13 13:52] #5 closed

[2017-05-13 13:58] cbrevik commented on #5
Think I might have uncovered why I got this problem.

I'm having an issue with VSCode not finding the `bugsnag-react-native` module with intellisense:
![image](https://cloud.githubusercontent.com/assets/4932625/26026044/aabf8aaa-37f4-11e7-84a2-f8e2182c88a6.png)
![image](https://cloud.githubusercontent.com/assets/4932625/26026052/c3202546-37f4-11e7-97c2-1f301efcb91f.png)

I tried changing to `"modu

[2017-05-13 14:09] ds300 commented on #5
You need to set `"moduleResolution": "node"` in `tsconfig.json`'s compilerOptions

[2017-05-13 14:18] ds300 opened #6 "TS syntax errors seem to be swallowed"
![image](https://cloud.githubusercontent.com/assets/1242537/26026223/583e5018-37ef-11e7-95ed-4d9862e47cfa.png)

gives

![image](https://cloud.githubusercontent.com/assets/1242537/26026226/60e6312c-37ef-11e7-9f2d-11926206dfb5.png)

Which suggest the syntax error is coming from babel rather than tsc. Investigate!

[2017-05-13 15:56] ds300 commented on #6
closed by https://github.com/ds300/react-native-typescript-transformer/commit/35b9c1a1781b3d7d0eb6e2f41842ed7bf6733a6b

[2017-05-13 15:56] #6 closed

[2017-06-02 00:16] cliffkoh opened #7 "Getting error "Cannot read property 'ReactCurrentOwner' of undefined""
Using https://github.com/ds300/TestCustomSourceExts as a starting point and replacing React Native with 0.45-rc.2, with the latest npm published version of react-native-typescript-transformer, and starting the packager through CLI:

[code]

 I am hitting the error (in the iOS simulator)

[code]

Would you know what I am missing here?

Thanks!

[2017-06-02 06:30] ds300 commented on #7
I've seen that error before. IIRC it has something to do with a version clash between `react-native` and `react`.

Do you get the error if you use a fresh react-native project as a starting point instead of that test repo?

[2017-06-05 16:47] cliffkoh commented on #7
Thanks, I don't if I use a fresh react-native project instead. I will close the issue. Thank you by the way, for your work here :)

[2017-06-05 16:47] #7 closed

[2017-06-05 22:30] cliffkoh opened #8 "lint-staged and husky should be a dev-dependency, not a dependency"
Hi,

Fairly sure lint-staged and husky should be a dev-dependency, not a dependency... Could you confirm? Should be easy to fix and happy to create a PR if that helps.

Thanks!

[2017-06-05 22:40] #8 closed

[2017-06-05 22:41] ds300 commented on #8
Quite right, thanks for the heads-up 👍

[2017-06-05 22:41] cliffkoh commented on #8
Thank you for the fast fix :+1:

[2017-06-05 23:06] cliffkoh opened #9 "Comments in tsconfig file are not supported, even though Typescript allows it."
tsconfig.json allows comments, using `require()` to load it makes it not possible to have comments.

[2017-06-05 23:23] #9 closed

[2017-06-09 09:54] hffmnn opened #11 "Minified code gives wrong line of code"
Hi there,

I tried out the transformer and it works perfect in dev mode, so first: thanks a lot for that :) 👍

Nonetheless:
When not running in debug mode and let the code crash somewhere, the lines and colums are a little bit off.

Steps to reproduce (I forked git clone https://github.com/cbrevik/react-native-typescript-starter and did some changes to illustrate the problem):

[code]

Open the iO

[2017-06-12 21:09] ds300 commented on #11
Can't think of any reason off the top of my head. Will have to do some debugging. Thanks for the detailed report!

[2017-06-13 08:10] ds300 commented on #11
Progress update: I think I've nailed down the source of the problem, but it seems to be an issue with react-native or babel.

There is a method which does constant folding on transform results in release mode. Constant folding is a compiler optimization where expressions which can be evaluated at compile time are replaced with their result. It gets invoked here: https://github.com/facebook/react-n

[2017-06-13 18:21] ds300 commented on #11
More notekeeping (still unresolved):

I tried using the TypeScript transformer by @orta and co here: https://github.com/artsy/emission/tree/master/transformer but had the same issue (even off by the same number of lines), despite that transformer being quite different in it's approach to both leveraging babel and creating source maps

I also suspected that it might be something to do with the fact

[2017-06-14 20:33] ds300 commented on #11
Metro issue over here :crossed_fingers: https://github.com/facebook/metro-bundler/issues/10

[2017-06-17 03:41] aarondail opened #13 "Errors that you would expect to get by running the typescript compiler are not being reported by the transformer"
Basically, if you write something like this in typescript:
[code]
And put:
```    "noFallthroughCasesInSwitch": true,```

in your tsconfig.json, then if you compile w/ typescript (e.g. `tsc`) you'll get an error.  Thats good!

BUT, with the transformer, the typescript is transpiled successfully, and you don't get an error.

There seems to be a whole slew of little nice errors you get normally with

[2017-06-17 11:15] ds300 commented on #13
That is the desired behaviour. i.e. the transformer should only report syntax errors which prevent emitting code. All other errors should be displayed/reported by external tooling like code highlighting and a precommit hook that runs `tsc --noEmit`.

Otherwise you couldn't run type-unsafe code a dev time. Which might sound like an insane desire to some people, "why would you *ever* want to run uns

[2017-06-18 15:14] hffmnn commented on #11
Thanks a lot for looking into it. And: Great issue on metro-bundler! ❤️

[2017-06-22 17:44] aarondail commented on #13
Thanks for your response.  I have been thinking about this for a few days... I admit it does feel a little foreign to me, but what you are saying is reasonable and I think I am coming over to your point of view.  :)

We are also going to be running tslint anyways, and if I think of these sorts of errors more like linting errors, then it feels very natural to not prevent emitting code on those erro

[2017-06-22 17:44] #13 closed

[2017-06-25 11:37] ds300 commented on #1
closed by #14

[2017-06-25 11:37] #1 closed

[2017-06-26 08:13] cbrevik commented on #13
Would it be possible to send in a parameter to make the transformer report errors?

[2017-06-26 08:25] ds300 commented on #13
I suppose we could inspect the `noEmitOnError` compiler option, if people really want that feature for some reason. Feel free to submit another issue as a feature request if so.

[2017-06-26 08:37] cbrevik opened #15 "[Feature request] Inspect noEmitOnError compiler option"
Ref https://github.com/ds300/react-native-typescript-transformer/issues/13#issuecomment-310994943

Preferred behaviour would be that the transformer reports errors through packager as normally happens while developing with React Native.

[2017-06-26 08:41] cbrevik commented on #13
The pre-commit git hook solution doesn't work optimally for one of our teams working on an app. So in that scenario we'd prefer if the errors were reported when the TS is transformed 👍

[2017-06-28 22:38] ds300 commented on #15
Sorry for the delay on this. I hope to have time for it on Saturday.

[2017-06-29 07:39] ds300 opened #17 "Allow bypassing babel"
It is possible to write TS code such that Babel is not required to post-process TS compilation results. It would be a nice perf win for people in those situations if they could somehow prevent babel from being used.

For this feature, it doesn't make sense to inspect configuration options in tsconfig because they are not concrete enough to reliably express user intentions regarding babel usage.

I

[2017-06-29 21:56] ds300 commented on #15
It just occurred to me that there is a flaw in this plan: changes to a file might produce type errors in another, unchanged file, which won't be reported when transpiling on a module-by-module basis. There's no easy way to solve this that I can see. We'd have to use a more holistic incremental approach like `tsc --watch` does, but triggering recompiles on-demand from the transformer rather than th

[2017-06-30 09:15] cbrevik commented on #15
To simplify the feature request, what if it only reports these errors on the initial packager/transformer run?

If it means keeping the the transpilation more performant, which honestly is even more important, I could live with it only catching isolated errors on the initial run. And having to restart the packager in order to do a thorough check again.

Granted, that may be confusing behaviour to

[2017-07-01 11:46] D1no opened #18 "Thanks from Prodction"
Dear David, I just want to report back to you that we are using react-native-typescript-transformer successfully in production with ReactNative 0.45.1. Thank you very much for you effort in bringing this into react-native and maintaining this package. It made our stack incredibly more stable and predictable.

If you ever happen to be in Berlin, let me know for a sponsored beer.

Dino
Shoplink Team

[2017-07-01 11:53] ds300 commented on #18
😊 This feedback is so very nice to have, thank you! I do like to visit Berlin occasionally, will try to remember to hit you up next time.

I'm going to close this issue because it's not really an issue, but you totally made my day. :heart:

[2017-07-01 11:53] #18 closed

[2017-07-02 23:43] ds300 commented on #15
Yeah I'm not crazy about that idea. I think it would make for poor DX. I'll try to determine how easy it will be to piggy back on tsc's incremental compilation features first, and whether we can (or need to) do anything about the multiple-module-emit situation, and if it looks like it would be too much work maybe then we could consider something more straightforward but less good.

[2017-07-04 14:11] ds300 commented on #15
One thing which is quite straightforward indeed (since it involves me not doing any work :D) is to just run `tsc --noEmit --watch` yourself. Or is there some special benefit you get from having one/both of:

1. red screen errors in the app
2. error reports being emitted on the packager's stdout

[2017-07-05 07:27] cbrevik commented on #15
Well, for my specific case, it is because I'm working a bit with devs who are used to statically typed languages like C#. They are used to the app breaking on compilation if something is wrong. And the same is true in cases where they have used TypeScript.

So it's more about keeping a familiar and non-confusing workflow.

The main goal I had in mind, when using TypeScript with RN, was easy onboar

[2017-07-06 13:00] iRoachie opened #20 "Broken in react-native@0.46"
I think they're some new changes regarding the packager in the newest version of react-native.

Error looks like this:
Cannot find module 'react-native/packager/transformer'

[2017-07-06 14:10] ds300 commented on #20
That's odd. With the latest version of react-native-typescript-transformer, the error should hopefully be `Cannot find module 'metro-bundler/src/transformer'` if #19 is anything to go by.

Anyway proper 0.46 support is top priority for me today after work, in a few hours.

[2017-07-06 14:13] iRoachie commented on #20
@ds300 There seems to be another problem as well with react-native's transformer in general. https://github.com/facebook/react-native/issues/14866

I'll close this now since there's a PR for this already.

[2017-07-06 14:13] #20 closed

[2017-07-07 10:38] aeirola opened #21 "Jest transform support / documentation"
Hi, thanks for the awesome library. Nice to see proper TypeScript support in React Native.

As Jest is the default test runner in React Native projects created by by the `react-native` cli tool, it would be nice to see support or documentation on how to use this library as the transformer for Jest as well.

Of course the alternative is to use [`https://github.com/lozinsky/typescript-babel-jest`](h

[2017-07-07 11:00] ds300 commented on #21
Hey Axel :-)

I'd recommend using [ts-jest](https://github.com/kulshekhar/ts-jest). It is more mature than `lozinsky/typescript-babel-jest`.

It makes sense to use `react-native-typescript-transformer` with Jest to get the consistency between test and bundle code. Although I haven't run into any issues with `ts-jest` + the `react-native` Jest preset.

Here's my Jest config for reference:

[code]

[2017-07-07 11:48] GeeWee commented on #21
I help maintain ts-jest, and I'd love to keep these projects in sync somehow. (Love what you're doing here btw @ds300)

[2017-07-07 14:56] ds300 commented on #21
Hey @GeeWee That would would be awesome. Any ideas about how this could be done? It has been a long while since I looked at the ts-jest code.

[2017-07-11 06:32] onselakin opened #22 "Error transforming"
Hey ds300,

Suddenly I started getting the error below while working with Expo:

[code]

Any recommendations?

Thank you!

[2017-07-11 07:23] ds300 commented on #22
If you can create a repo which reproduces the issue I'll take a look. On first inspection it seems like this is not an issue with react-native-typescript-transformer throwing errors, because transformers are synchronous and their thrown errors are normally reported correctly in the packager log.

[2017-07-11 08:31] onselakin commented on #22
Thanks for the reply. Looks like Expo got an update recently. I got it to work after installing Typescript into local repo.

[2017-07-11 08:31] #22 closed

[2017-07-20 10:45] GeeWee commented on #21
I'm not actually sure what needs to be done,  ts-jest supports running things through Babel (with or without a babelrc) as a secondary transpilation step. (I think you added that originally) - does this transformer do any extra magic that'll cause the two projects to be incompatible?

[2017-07-31 06:24] afshin-hoseini opened #24 "The baseurl and paths defined in tsconfig.json don't work"
This is my tsconfig.json file:

[code]

But I can't figure out why this import doesn't work:

`import Plan from 'Models/Plan'`

The *plan.ts* file is like:

[code]

[2017-07-31 06:32] ds300 commented on #24
You also need to configure react-native for resolving absolute paths. I've
done it before but can't remember exactly how. Something to do with extra
json files. Can't check right now but will comment again in a couple of
hours with more guidance if you still need it.

On 31 Jul 2017 7:24 am, "Afshin Hoseini" <notifications@github.com> wrote:

[2017-07-31 06:55] afshin-hoseini commented on #24
@ds300 Yeah sure I'm new to react-native and I'll need a lot of help...

Thank you for your support.

[2017-07-31 08:39] ds300 commented on #24
I followed this method: https://medium.com/@davidjwoody/how-to-use-absolute-paths-in-react-native-6b06ae3f65d1

i.e. placing a package.json file containing only `{"name": "src"}` in my src folder, and then importing everything from "src/foo" or "src/bar/baz" etc.

You could also try that babel plugin mentioned at the bottom. Seems promising.

[2017-07-31 09:17] afshin-hoseini commented on #24
@ds300 Thank you.

[2017-07-31 09:17] #24 closed

[2017-07-31 09:55] ds300 opened #25 "Add note in README about using absolute paths for source modules"
I think a lot of people use absolute paths these days and it is not clear that both typescript and react-native (and maybe jest or some other test framework) need to be configured independently to support them. As evidenced by #24

[2017-08-07 20:03] jasonkuhrt opened #26 "rootDir error"
I'm getting the following error, following the given instructions in the readme. Am I doing something wrong?

![image](https://user-images.githubusercontent.com/284476/29043634-f0b6a010-7b89-11e7-9615-ba977601c84c.png)

[2017-08-07 20:08] ds300 commented on #26
I haven't seen that before. Can you post your tsconfig.json file?

[2017-08-07 20:13] jasonkuhrt commented on #26
Yup this was related to a badly configured `tsconfig.json` file. I had this:

[code]

But the following change fixed things for me:

[code]

[2017-08-07 20:13] #26 closed

[2017-08-21 21:00] vinils opened #27 "react-native 0.42.3 would it be possible?"
Hey guys, first of all I would like to thank you for your solution that is help me a lot!

I´m trying to integrate reactxp and expo but reactxp is running on react-native 0.42.3.
Does anyone knows if would it be possible to run react-native-typescript-transformer on react-native 0.42.3 and how i could make that?

Thanks in advance

[2017-08-21 21:51] ds300 commented on #27
Hi!

React-native versions less than 0.45 don't support custom source extensions, so react-native-typescript-transformer will not work out of the box. It is possible using [patch-package](https://github.com/ds300/patch-package), but you'd need to fiddle around with the react-native internals to figure out how to hack in support for .ts source extensions. I've done it before but couldn't share the

[2017-08-21 22:48] vinils commented on #27
Thank you very much for kindle share that with me... I´ll go on that!

[2017-08-25 20:09] pehlert opened #28 "EISDIR: illegal operation on a directory, read"
There is an issue that occured to me after upgrading react-native-typescript-transformer to the latest version. This is very confusing at first as there doesn't seem to be any relation to this package.

The issue can be solved by using the new `rn-cli.config.js` config style as described in the latest README. It would be great if this upgrade issue could at least be pointed out somewhere.

Details

[2017-08-25 22:51] ds300 commented on #28
Can you be more explicit about exactly what had to change in the rn-cli.config.js ? I'm not sure what you mean by 'new style'.

[2017-08-25 22:55] pehlert commented on #28
Sure! I was not using rn-cli.config.js before at all but had the following in my app.json:

[code]

If this looks unfamiliar to you, I cannot fully rule out that I have taken it from a tutorial elsewhere on the web. :-/

[2017-08-25 23:15] ds300 commented on #28
Maybe from here: https://github.com/dalcib/expo-ts-example/blob/master/app.json ? Anyhow, this is a create-react-native-app/expo thing. The README for this project has always advised using rn-cli.config.js. I'm glad expo is supporting it directly now.

Thanks for creating this issue and linking it to the expo issue. I think that's enough for people to land here from github/google searches.

Let's

[2017-09-07 04:26] aminroosta commented on #21
With the following ...

[code]

[code]

I get this :/

[code]

[2017-09-07 05:35] GeeWee commented on #21
I would open a new issue in `ts-jest` :)

[2017-09-10 09:59] ds300 commented on #28
I'm going to close this issue because I think the problem is solved. Feel free to reopen the issue if you feel that there is anything left to address.

[2017-09-10 09:59] #28 closed

[2017-09-10 10:01] ds300 commented on #27
I'm going to close this issue due to inactivity. Feel free to reopen it if you have further questions about using react-native versions before 0.45

[2017-09-10 10:01] #27 closed

[2017-09-10 19:06] agarcia17 commented on #25
anybody got the absolute paths working?

[2017-09-10 21:13] ds300 commented on #25
Yes it's fairly simple.

In tsconfig.json:

[code]

And then for react-native, you need to add one or more `package.json` files. These only need to contain the `"name"` field, and should be placed into any folders in the root of your project that you want to reference with an absolute path. The `"name"` field's value should be the name of the folder.  So for me, I just added one file at `src/packa

[2017-09-10 23:16] #25 closed

[2017-09-18 07:43] vovkasm commented on #21
I just try preprocess jest tests with this module and it seems to work well with small glue code.
Although my test suite is small and I may not detect all edge cases, it would be good to have this "glue" in package itself and improve it together.

My config:
**jest/preprocessor.js** (actually it is adaptation of [RN jest preprocessor](https://github.com/facebook/react-native/blob/master/jest/prepr

[2017-09-18 19:38] ds300 commented on #21
@vovkasm This is cool! Thanks for sharing :)

I still haven't heard of anyone having problems with `ts-jest` (specifically caused by differences between it's transformer and react-native-typescript-transformer), and it solves a lot of edge cases, so I'm hesitant to put this in the package itself. But I'll gladly mention your solution in the README for other people who want to use exactly the same

[2017-09-18 20:20] vovkasm commented on #21
No problems with ts-jest, except hard to track deps. react-native-typescript-transformer requires math fewer other modules. :)

[2017-09-22 05:43] cbrevik commented on #15
Just checking back here. What we ended up doing was using [husky](https://www.npmjs.com/package/husky) for precommit and prepush hooks, and running `tsc --noEmit` in those cases.

Works fine for us, and should be a good workaround. You can close this issue if you want.

[2017-09-22 10:12] ds300 commented on #15
Cool, thanks for the update. Glad you found something that worked for you.

[2017-09-22 10:12] #15 closed

[2017-09-22 12:55] itchingpixels commented on #13
This would be a great addition, I'll submit Feature request issue now:)

[2017-09-22 12:57] itchingpixels opened #29 "Feature request: respect 'noEmitOnError'"
Hi,

It's super nice to see this happening!

noEmitOnError is the one of the main reasons we're using TypeScript.
It'd be great if the packager would fail the build if there's a type error - that's currently the expected way according to everyone who's working on this project.

We'd be happy to even submit a PR for this. Will/would it be accepted?

Thank you!

[2017-09-22 13:04] ds300 commented on #29
This was already discussed in #15

I would very much like to be able to provide this as an option. If you can overcome the following problems I'd gladly accept a PR for the feature:

- How to configure react-native-typescript-transformer to enable/disable this feature (I think it should be opt-in)
- How to make sure that if you change file A and it creates a type error in file B which didn't chang

[2017-09-23 17:02] ahanriat commented on #17
@ds300 What about Typescript transformer support in [Babel 7](https://github.com/babel/babylon/releases/tag/v7.0.0-beta.16)?

[2017-09-23 20:46] ds300 commented on #17
Yes! Babel 7 can transpile TypeScript, which is **amazing** and makes this library obsolete. Couldn't be happier to have a thing I've built become useless :D

[2017-09-26 12:26] itchingpixels opened #30 "Question: reliability issues"
Hi,

We've switched to using this for our slightly larger codebase, and encountered various, indeterministic errors when importing from local modules.

I know this is a very vague ticket, just want to record this issue.
We've reverted back to the original setup - using `tsc --watch`. (we were using es2015 modules, and the recommended configuration)

Has anyone else encountered weird issues?
We had

[2017-09-26 12:31] itchingpixels commented on #29
- I think "noEmitOnError" would be a great option

- This may be solved by the way this will be implemented anyway. AFAIK, we won't be able to use .transpileModule, since that method does not report type errors/warnings.
So far, my conclusion is that because of the differences between the behaviour of `tsc` and `transpileModule`, we'll need to run `tsc` in some way, and then collect the compiled m

[2017-09-26 13:11] ds300 commented on #30
This is the first I'm hearing. Previous issue reports have been quite concrete and to do with configuration rather than bugs.

This symptom is normally caused by cyclical dependencies, for what it's worth. Though no idea why they'd be introduced in a nondeterministic way by react-native-typescript-transformer. Probably a race condition somewhere. Are you using Hot Module Replacement? Are you on th

[2017-09-26 14:04] dalcib commented on #28
It's necessary to add `/index.js` to the `transformer` property in app.json to make it work with Expo version 19. Don't know why. See https://github.com/expo/expo/issues/428#issuecomment-318491235.
[code]
Thanks to @janaagaard75
https://github.com/janaagaard75/expo-19-typescript

[2017-09-26 14:41] itchingpixels commented on #30
Thank you for your response!:)

Regarding cyclical dependencies: you may be right, we do have quite a few - but it never seem to be a problem previously, when we were using `tsc` itself. I really hoped I never have to worry about them ever again!
Is this something we need to consider when using react-native-typescript-transformer ?

[2017-09-26 16:58] ds300 commented on #30
Not that I'm aware of, but then I've never transitioned a project with complicated inter-module dependencies from `tsc` to `react-native-typescript-transformer` before :D

Have you observed the issues when doing a standalone build? Or only when running the packager in watch mode?

[2017-09-26 22:14] itchingpixels commented on #30
I have only tried running the packaged in watch mode.

It'll be quite hard to share the source code & also I'm really not sure how to reproduce this as an isolated issue at this moment. Happy to do some kind of pair programming session in the meantime, while I'll try to figure out how to reproduce it!

[2017-09-27 12:20] ds300 commented on #30
Sure pair programming would be good. Looks like you're also based in London, so we could even do it in person to reduce friction, if you're comfortable with that?

[2017-09-27 16:03] itchingpixels commented on #30
Sure:) When would be good for you? if you prefer email, then: mark.szulyovszky@gmail.com :)

Thank you!!

[2017-09-29 17:40] rochapablo opened #31 "Unable to resolve module"
I don't know what happened, it was working but because I had to re-install my packages I can't get this working anymore.

[code]

I tried

[code]

but it still the same

follow my *tsconfig*

[code]

[code]

[2017-09-29 18:11] ds300 commented on #31
how have you configured react-native to support the tilde (`~`) character in absolute paths? I've never seen that before

[2017-09-29 18:39] rochapablo commented on #31
Ouch!

I cant say where I took that (```~```) from; but as I was working with and was all working so, I haven't thought that could be the problem.

And indeed, was remove those tilde and all went back to work.

Thank you.

[2017-09-29 18:39] #31 closed

[2017-09-29 20:19] rochapablo commented on #31
@ds300, shouldn't this also be working on IOS? Because I'm getting the same error, but on Android it's everything working.

[code]

[code]

[2017-09-29 20:27] ds300 commented on #31
Remember that react-native and TypeScript use individual methods to find files with absolute paths. react-native can't read the configuration in your tsconfig.json.

If you put a file in `src/services/persist/actions` and you want to import it with the string `"services/persist/actions"` then you need to put a package.json file containing only `{"name": "services"}` at `src/services/package.json`

[2017-10-01 22:36] ds300 commented on #30
We resolved this today. There was in fact a cyclical dependency issue. It might be that TypeScript is able to emit code that works around certain cyclical dependencies when operating on a program level with `tsc`, but not when operating at a module level with `transpileModule`, as is done in `react-native-typescript-transformer`. It's worth mentioning that the problem turned out to be deterministi

[2017-10-02 15:25] itchingpixels commented on #30
thank you for your help identifying this issue!:)
On Sun, 1 Oct 2017 at 23:36, David Sheldrick <notifications@github.com>
wrote:

[2017-10-02 16:55] #30 closed

[2017-10-06 11:50] maraujop opened #32 "Need help migrating"
Hello David,

I've found your project today when looking for a simple plug-and-play solution to start using TypeScript with RN, great project!

I have quite a big react native project built with Flow, which I'm totally fed up of. I want to try Typescript, but I need to do it in a progressive way.

So I've installed react-native-typescript-transformer and decided to change one of my components exte

[2017-10-06 11:55] ds300 commented on #32
Does it work if you get rid of the rootDir property? That setting isn't
useful for react-native-typescript-transformer projects.

On 6 Oct 2017 12:50 pm, "Miguel Araujo" <notifications@github.com> wrote:

[2017-10-06 11:57] ds300 commented on #32
You might have to add some extra configuration in tsconfig to make it work
with 'example/src...' paths. See the section on absolute paths in the
readme for how I've set it up in the past

On 6 Oct 2017 12:55 pm, "david sheldrick" <d.j.sheldrick@gmail.com> wrote:

[2017-10-06 12:25] ds300 commented on #32
Just had a look at the typescript docs and

[code]

should do the trick. Along with removing the `rootDir` property.

[2017-10-06 14:29] maraujop commented on #32
Thanks David for your super fast answer,

You are right, removing `rootDir` property gets it all working, wonderful! It all works even with absolute imports `example/app/screens/...`

The problem is that ts reports for these imports an error:
`Cannot find module 'example/app/screens/Header'` and doesn't validate the component properties.

If I change `example/app/screens/Header` to `app/screens/He

[2017-10-19 12:14] rochapablo commented on #20
[code]

[code]

[2017-10-25 12:18] pehlert commented on #20
I was having this issue as well and was able to fix this by manually installing `metro-bundler` as a dev dependency (latest, v0.20.0 as of now) as this seems to be where react-native-typescript-transformer tries to require from.

My env:
React: 16.0.0-alpha.12
React Native: 0.48.0
react-native-typescript-transformer: 1.1.4

Command that fixed it: `npm install --save-dev metro-bundler`

[2017-10-28 09:00] ds300 commented on #20
Yes if you're seeing this error `Cannot find module 'react-native/packager/transformer'` it means that the following code is failing:

https://github.com/ds300/react-native-typescript-transformer/blob/987f87a9cfea0e89aad873858d9c6b823572b26c/index.js#L12:L28

So metro-bundler is probably either installed in a nested node_modules somewhere, or is using a new directory structure so the transformer c

[2017-11-02 01:53] AntonPuko opened #33 "Unable to import tsx file into index.js"
Hi, sorry if I'm asking something stupid. But does this work with the latest rn?
I stuck with very basic :(
1) I installed fresh new project with react-native init. (react-native 0.49.5)
2) added  react-native-typescript-transformer, typescript
3) added rn-cli.config.js
4) added tsconfig:
[code]
5) setup project structe as:
--src
----App.jsx
--index.js
6) in index.js I'm trying to import App as:
`

[2017-11-02 02:09] #33 closed

[2017-11-02 02:09] AntonPuko commented on #33
nevermind, I'm an idiot :face_palm:, need to get some sleep

[2017-11-02 08:51] karsens commented on #17
Hey @ds300  do you recommend using this or babel 7 with typescript-plugin if I want to start with a new expo project right now? Also, do you know where I can find good documentation for babel 7 typescript & expo?

[2017-11-02 09:58] ds300 commented on #17
@karsens I think you will save some time if you use this library still, however I know of one team who are using babel 7 successfully, with the caveat that babel can't have both the typescript and flow plugins at the same time, so you end up needing to strip all the flow types from node_modules in a separate  step.

See here: https://github.com/artsy/emission/pull/780

[2017-11-11 12:09] momsse commented on #21
Hi @ds300 and @vovkasm,

First of all thanks for the works done with `ts-jest` and `react-native-typescript-transformer` that helps making `typescript` and `react-native` working together 👍

Don't sure if it's the good place to explain my issue.

I'm using the transformer within an expo app and it do not work the same way when the code is run through the transformer and throught `ts-jest` during u

[2017-12-06 12:17] challenger532 opened #34 "Hot reload update view"
Hot reload is not updating the views! A Toast with hot load is shown but views are not updated, on force refresh, the simulator views are updating!
![screenshot from 2017-12-06 14-15-27](https://user-images.githubusercontent.com/6458536/33661318-1008aade-da90-11e7-8a74-6af64b6520f0.png)

[2017-12-10 16:07] yuwenhuisama opened #35 "Compiler does not report error when compiling"
For react native, when there are compile errors, ts still dose not report them while tslint has marked them.

[2017-12-11 10:06] ds300 commented on #35
Can you give an example? Syntax errors should be reported, but lint and type errors are not expected to be reported. See #13 for more details about why.

[2017-12-18 09:13] yuwenhuisama commented on #35
Well, what I expect is exactly to report the type errors not only syntax errors, I wish this could be a feature to implement as an option.

[2017-12-18 18:37] eassymo opened #36 "Getting: bundling failed: TypeError: Cannot read property 'replace' of undefined"
I'm getting:

bundling failed: TypeError: Cannot read property 'replace' of undefined

when

Enviroment:

    "react": "16.0.0",
    "react-native": "0.51.0",
    "metro-bundler": "^0.22.1",
    "react-native-typescript-transformer": "^1.1.4",
    "typescript": "~2.3.4"

[2017-12-18 21:51] ds300 commented on #36
There's not much info to go on here. react-native-typescript-transformer doesn't use a `.replace` method anywhere directly. Can you provide a repository which reproduces the issue, by any chance?

[2017-12-28 02:57] jkbreunig commented on #36
react-native 0.52.0-rc.0
source-map-consumer.js
bundling failed: TypeError: Cannot read property 'sections' of undefined

function SourceMapConsumer(aSourceMap) {
  var sourceMap = aSourceMap;
  if (typeof aSourceMap === 'string') {
    sourceMap = JSON.parse(aSourceMap.replace(/^\)\]\}'/, ''));
  }

  return sourceMap.sections != null
    ? new IndexedSourceMapConsumer(sourceMap)
    : new BasicS

[2017-12-29 14:45] RubenSandwich commented on #35
@yuwenhuisama One way to get that feature is to use: https://github.com/callstack/haul. Which is a replacement for the React Native Packager. They have a typescript setup example: https://github.com/callstack/haul/blob/master/docs/Recipes.md.

[2018-01-09 08:10] dluksza opened #38 "rn 0.52.0 TypeError: Cannot read property 'sections' of undefined"
After migrating to react-native 0.52.0 and updating `react-native-typescript-transformer` to current master (commit: 5c428f8eeaa10) I'm getting following error

[code]

[2018-01-09 08:25] dluksza commented on #38
This is a known issue: https://github.com/ds300/react-native-typescript-transformer/pull/37#issuecomment-355996942

[2018-01-09 08:35] ds300 opened #39 "Fix source mapping in react-native 0.52"
following discussion from from #37

[2018-01-09 10:09] ds300 commented on #38
Thanks for the report. I just published a fix for this in 1.1.6

[2018-01-09 10:32] dluksza commented on #38
Verified that this error doesn't occur on 1.1.6

[2018-01-09 10:32] #38 closed

[2018-01-09 15:29] dluksza commented on #39
Configuration for running jest tests described in https://github.com/ds300/react-native-typescript-transformer/issues/21#issuecomment-330148700 also doesn't work with 0.52

[2018-01-09 17:29] ds300 commented on #39
Ah yes, that makes sense. Thanks for the heads-up! I'm going to try duplicating the old upstream transformer locally.

[2018-01-09 23:56] ds300 commented on #39
Another thing I'm trying is traversing the ast and updating its mappings in place. Seems doable so far.

[2018-01-10 22:19] dluksza commented on #39
Jest tests are still failing with the same error as mentioned in my previous comment :|

[2018-01-10 22:31] ds300 commented on #39
Ah yes. I should have made another

[2018-01-10 22:31] #39 closed

[2018-01-10 22:32] ds300 opened #40 "Jest tests fail with RN >= 52 because transformer doesn't return transpiled text, only ast"
from https://github.com/ds300/react-native-typescript-transformer/issues/39#issuecomment-356317354

[2018-01-10 22:54] ds300 commented on #39
@dluksza you can do this for now:

[code]

It doesn't do source mapping, but then neither did the original version.

[2018-01-11 05:24] dluksza commented on #39
@ds300 thank you that works! :D

[2018-01-16 11:23] fbartho opened #41 "yarn-add warning: Bad crypto dependency"
Warning is provided when installing/updating:
[code]

Using node version `v9.3.0`

[2018-01-17 22:56] ds300 commented on #41
Thanks for the report! Should be fixed any second now!

[2018-01-17 22:56] #41 closed

[2018-01-17 22:57] ds300 commented on #40
Not really sure what to do about this, except add babel-generator to the mix.

[2018-01-18 17:25] vovkasm commented on #40
Actually it almost unusable until jest will add ability to handle source maps for transformed files, because retain lines does not help with typescript. Some links:
- https://github.com/facebook/jest/issues/5121
- https://github.com/facebook/jest/pull/5116
- https://github.com/facebook/jest/issues/5113

I did experiments with various variants, and still my transformer looks almost like that from c

[2018-01-30 12:04] henrikra commented on #29
I think the workaround for this problem which is here https://github.com/ds300/react-native-typescript-transformer/issues/15#issuecomment-331355513 should be mentioned in README etc because this prevents developer to commit shit to the code base :D

[2018-02-05 16:16] maraujop commented on #21
Hi there,

Today i was suffering an issue in my tests, that I finally solved from using the previous gist and moving away of `ts-jest`. In my case it looked like in some reducers, some local variables weren't initialized where due and code would break in weird ways. I have tried for a while to isolate into a simpler test case without luck, I think some circular dependencies might be part of the pr

[2018-02-05 16:36] GeeWee commented on #21
If you manage to produce a working repo I'd love to see it in ts-jest.
Community-wise I still think it'd be optimal to focus the brunt on the resources inside ts-jest rather than having one solution for react and one for react native.
(Let me know if you think it's annoying that I chime in on this issue @ds300 , I'll gladly stop)

[2018-02-05 17:11] ds300 commented on #21
Happy to have your input @GeeWee !

I agree that it makes most sense to focus on ts-jest. It *should* work, and it has a lot of useful things that react-native-typescript-transformer lacks.

[2018-02-06 01:42] mosesoak opened #43 "Got file splitting working manually..."
Hi, thanks for this excellent project, makes setting up RN + TS a lot easier!

I've integrated this with React Native Web which supports file splitting by extension (.web.tsx / .native.tsx / .ios.tsx / .android.tsx). However, Typescript doesn't play nicely with that piece of magic.

I opened a similar issue at the RNW repo asking if anyone has the know-how to write a piece of magic that would get

[2018-02-06 06:24] mosesoak commented on #43
^ made the repo public 😬

[2018-02-06 11:41] skellock commented on #43
My brain broke on this problem as well.  The packager(s) are pacified, but TS isn't.

Thankfully, I was only writing a proof-of-concept prototype, but here's how I got around this.

Introducing...

### Sadly-Typed Components

Say you're building the `<Multi />` component.

Make it a directory that has it's contents look like this:

![image](https://user-images.githubusercontent.com/68273/35857242-

[2018-02-06 17:31] mosesoak commented on #43
@skellock cool, thanks for sharing your system! Mine does indeed let you use platform specific extensions, like .web.tsx / .native.tsx. Check out my example repo!

What I'm struggling to figure out is how we could get TS to support this magic, possibly via an npm module. The problem is that prior to compiling to a platform, even if TS was aware of the special imports it still has no idea which pat

[2018-02-06 19:16] aMarCruz commented on #21
@vovkasm your setup is not working for me. I have errors like this:
[code]

RN: 0.52.2
react-native-typescript-transformer: 1.2.3
Jest: 22.1.4
OS: Linux Mint 18.3

[2018-02-06 19:41] vovkasm commented on #21
@aMarCrus: too new version of jest ))) it changed api for transformers, more info here: https://github.com/ds300/react-native-typescript-transformer/issues/39#issuecomment-356764981

[2018-02-06 19:42] ajcrites opened #44 "react-native bundle?"
I'm trying to create a complete build to generate `.ipa` / `.apk` files.

The README specifies that `tsc` will not actually generate a build. I believe this is probably because of the `noEmit` rule in `tsconfig.json`.

I'm trying to use `--transformer` as well which appears to be an undocumented flag for `build`, but then I get this output:

[code]

`--sourceExts` is _not_ a flag for `build`.

Is

[2018-02-07 15:05] ds300 commented on #43
:joy:

Not sure how to automate this. I think it would require a new TypeScript module resolution strategy which extends `node`. I imagine the MS folks would be OK with including something like that, they've made plenty of concessions for the React ecosystem already.

[2018-02-07 15:33] ds300 commented on #44
HI! :)

I'm not sure what this `build` command you're mentioning is, could you elaborate?

`--sourceExts` and `--transformer` are for the `react-native bundle` command, but I don't think it should be necessary to use that directly for most situations. Maybe those flags are not supported directly any more, in which case it seems you can still use the `--config` flag to specify which rn-cli.config.j

[2018-02-07 16:09] ajcrites commented on #44
Thanks, I should have said `bundle`, not `build`. My bad.

Yes, `--sourceExts` is not supported by `bundle` (I suppose anymore). `--transformer` is supported, but it seems to be undocumented. Using `rn-cli.config.js` does work though (but is also undocumented). I was able to get it to work just using rn-cli.config.js, but it seems a sketchy that you don't have direct control over this for the buil

[2018-02-09 18:18] petekp commented on #44
We ran into the same issue when trying to produce an offline bundle for distribution. The transformer works great in tandem with the RN packager's `start` process, but not with `bundle`. It's unclear whether `rn-cli.config.js` is getting picked up by the packager so we are using the `--transfomer` and `--sourceExts` flags for development, but these flags don't seem to work (`--sourceExts` specific

[2018-02-09 22:23] mosesoak commented on #43
Cool. I've been able to simplify the system to just use index files without the weird shim file, retry the repo link above to see changes. Closing this issue here since I'd need to take this up with the Typescript team to get further with it

[2018-02-10 10:13] ds300 commented on #44
@petekp yeah it should work. I tested just now and, `bundle` works with the `--config` option, which you can use to specify an absolute path to your `rn-cli.config.js` file.

[2018-02-11 20:34] petekp commented on #44
@ds300 Yep, the `--config` option did the trick. Thanks!

[2018-02-12 00:14] ajcrites commented on #44
I haven't had to use `--config` with `rn-cli.config.js` at the root of the repository.

[2018-02-12 05:36] quincycs commented on #11
Maybe this is fixed now?

[2018-02-12 12:39] skellock commented on #11
No problems here with `react-native@0.53.0` and `react-native-typescript-transformer@1.2.3` in production.

[2018-02-12 12:55] ds300 commented on #11
Cool beans. I'm gonna close this. Thanks @quincycs and @skellock

[2018-02-12 12:55] #11 closed

[2018-02-12 16:11] petekp commented on #44
@ajcrites Curious which version of RN you're running. I'm on `0.48.1` and the packager doesn't appear to pick up `rn-cli.config.js` in root. Have had to use the command line approach.

[2018-02-12 16:17] ajcrites commented on #44
Oh, I'm on version 53 which may make a difference there.

[2018-02-19 09:59] henrikra opened #46 "Why JSX is not set to react-native?"
I noticed from JSX [docs](https://www.typescriptlang.org/docs/handbook/jsx.html) that JSX has also option `react-native` for it.

Here are all three different modes for JSX

So why `react-native-typescript-transformer` is telling us to configure JSX to `react` instead of `react-native`. Are there some drawbacks etc? :D

[2018-02-19 10:22] ds300 commented on #46
Hi Henrik,

Good question! I agree, the situation is a little confusing, and the reason
for it is historical rather than technical.

When React first appeared on the scene, most JS tooling was not compatible
with the JSX syntax. To mitigate this, people would only put JSX syntax in
files with the extension `.jsx`. Eventually the tooling caught up and now
most of us put JSX in `.js` files as though

[2018-02-19 10:23] ds300 commented on #46
Hi Henrik,

Good question! I agree, the situation is a little confusing, and the reason for it is historical rather than technical.

When React first appeared on the scene, most JS tooling was not compatible with the JSX syntax. To mitigate this, people would only put JSX syntax in files with the extension `.jsx`. Eventually the tooling caught up and now most of us put JSX in `.js` files as though

[2018-02-19 12:10] henrikra commented on #46
Great explanation! So would it makes sense to change readme to use `react-native` if it doesn't matter and it semantically more relevant? :D

[2018-02-19 12:55] ds300 commented on #46
Sure, makes sense. I'll do that.

[2018-02-19 13:02] ds300 commented on #46
Hmm actually I misremembered what the `react-native` option does, which is highly embarrassing since I wrote it 🤦‍♀️

It actually leaves the JSX untouched, which makes it identical to the `preserve` option except that it emits `.js` files instead of `.jsx` files. This is already mentioned in the README so I'll leave it untouched.

[2018-02-19 13:04] henrikra commented on #46
You are right! I didn't notice it. Thanks for your help :)

[2018-02-19 13:04] #46 closed

[2018-02-20 11:42] henrikra opened #47 "Note on allowSyntheticDefaultImports"
In readme it reads:

That issue is now closed so I guess the README should change too?

[2018-02-20 12:23] henrikra opened #48 "Source map line number is shifted"
This produces at least on Android

I am generating source maps but adding extra packager args in my `build.gradle` like this
[code]

After that I just upload that source map file to Bugsnag which is my crashreporter. The crash gives me right file .tsx extension but the line is wrong.

Can you help me to solve this? How to start debugging this? Do I have to pass some arguments to transformer or som

[2018-02-20 14:24] ds300 commented on #48
It should Just Work, so maybe there are some issues.

1. Are the lines correct at dev time?
2. Which versions of everything are you running?

[2018-02-20 14:25] ds300 commented on #47
Yes, thanks for the reminder! First I'll update the transformer to be able to run without babel if TS is >= 2.7

[2018-02-20 15:52] henrikra commented on #48
1. If I put debug mode to ON when running my app and look `sources` in Chrome debugger tools yeah they are correct. Even breakpoints work
2.
- TypeScript 2.7.1
- react-native-typescript-transformer 1.2.3
- React native 0.51.0

[2018-02-20 15:56] ds300 commented on #48
Ah, yes. Makes sense. The issue causing inaccurate maps for production
bundles was fixed in RN 0.52. Are you able to update?

On Tue, 20 Feb 2018, 15:52 Henrik Raitasola, <notifications@github.com>
wrote:

[2018-02-20 15:58] henrikra commented on #48
Ahaa! Can you link me info that was related to this fix on RN 52? :D

[2018-02-20 17:26] ds300 commented on #48
https://github.com/ds300/react-native-typescript-transformer/issues/11

**tldr** react-native used to have a spot in the production build pipeline where input source maps were ignored. That issue was resolved as a side effect of a big refactoring effort which landed in 0.52.

[2018-02-21 11:20] henrikra commented on #48
I have now upgraded to RN 0.52.2 and still the lines are off.

I am able to reproduce this locally now. Here is my process:

1. Add some crash to the app that happens on button press
2. Build app for Android in release mode
3. Upload source maps to Bugsnag that were just generated `react-native bundle` command
4. Start the app and make it crash
5. Find new crash on Bugsnag
6. Notice source maps ha

[2018-02-26 21:04] ds300 commented on #44
I added a note about the `--config` option to the readme, so will close this issue for now. Please feel free to open it again if you're still having troubles.

[2018-02-26 21:04] #44 closed

[2018-02-27 07:33] a9udn9u commented on #34
I'm having the same issue on macOS.

My `tsconfig.json`:
[code]

Since `tsc` doesn't emit any output, I have to restart the packager on every file change, it's quite annoying.

[2018-02-27 18:53] ajcrites opened #49 "`target` is not used in an inherited TypeScript config."
I'm not sure if this is specific to `target` or other options, but it's easiest to reproduce this way. I'm also not 100% sure that it's this transformer that's not using the target from an extended config, so I apologize if this wastes anyone's time, but I think I've narrowed it down.

For example, you may have a base config that looks like

[code]

Then your `tsconfig.json` as `{ "extends": "./ts

[2018-02-27 21:23] ds300 commented on #49
Ah, yes, we can see that the tsconfig loading strategy is [embarrassingly naïve](https://github.com/ds300/react-native-typescript-transformer/blob/master/index.js#L37).

I'll switch to (TypeStrong/tsconfig)(https://github.com/TypeStrong/tsconfig) asap.

Thanks for the report!

[2018-02-28 13:45] henrikra commented on #48
@ds300 Do you have any ideas?

[2018-02-28 15:27] ds300 commented on #48
I can't think of anything that you could do that might solve the problem in 'userland'. If the source maps line up during development but not in production releases, then it's probably the case that metro is still doing some mangling that ignores or misuses input source maps. Last time it was the constant folding and function inlining step. It would take some debugging to figure out where it's hap

[2018-03-06 19:04] wynch opened #50 "This doesn't seem to work with RN 0.54"
When starting Metro, I get a `Cannot find module 'metro/src/transformer'` error.

[2018-03-07 20:20] emin93 commented on #50
It should also work with RN 0.54, I used it in my React Native TypeScript template.

If you want to see how I configured it, just run this in your terminal:
[code]

[2018-03-14 15:20] pumano opened #51 "[Question] How to unit tests react native application using typescript and react-native-typescript-transformer?"
I get stuck with unit testing react native application. I have fully work application that uses react-native-typescript-transformer in production builds, but when I need to unit test application I use another method.

I use mocha + ts-node + enzyme + react-native-mock, and it's works perfectly for some internal components, but when I mount some component, but that component with 3rd party library

[2018-03-16 03:39] donifer opened #52 "Question: CRNA setup"
Is there any docs or pointers on how to get this setup with CRNA? :memo:

[2018-03-28 00:16] ds300 commented on #52
Hi! Apologies for the delay in getting back to you. It should just work with CRNA the same way it works with regular RN. I just tried and it worked, so i'll close this. Feel free to reopen this issue or another one if you're having trouble getting set up and running.

[2018-03-28 00:16] #52 closed

[2018-03-28 16:55] ds300 commented on #51
Hi, sorry for the delay in getting back to you.

This issue is because react-native-vector-icons (like many react-native libraries) do not compile away es6 import syntax before publishing their code to npm. In order to use these files in unit tests, you need to have them compiled with babel. Mocha is probably already capable of doing that, but you need  to tell it to also transpile files under nod

[2018-03-30 13:46] butcheryl opened #53 "vscode debugging"
Hi, David

I use  [vscode-react-native](https://github.com/Microsoft/vscode-react-native) debugging

How to add breakpoint in vscode?

vscode tip me  ` map not found` ？

Thanks

[2018-03-30 14:20] ds300 commented on #53
Hi! Thanks for the report! :)

I tried it and found a similar error, so it's not just you at least. The normal react-native debugging works (I tried with the chrome devtools or the react-native debugger app on macOS), so i can only assume it's down to a difference with how the vscode debugger hooks itself up to the packager.

Unfortunately I don't have time to look deeper into this for you. Please

[2018-04-01 23:46] Keyj1n commented on #53
Hello there,

i have sadly the same problem.
If you find any solution, please let me know.

Thanks and Kind Regards,
Keyjin

[2018-04-03 13:46] ds300 commented on #47
update on this: Last night I ripped out the babel transform, and ran in to this issue: https://github.com/Microsoft/TypeScript/issues/21621

Once that bug is solved I'll be happy to release react-native-typescript-transformer 2.0 which won't use babel at all and will only support React Native >= 0.52

wip branch over here: https://github.com/ds300/react-native-typescript-transformer/tree/no-babel

[2018-04-03 13:46] pumano commented on #51
@ds300 thank you for answer! 👍

[2018-04-03 13:46] #51 closed

[2018-04-03 13:53] henrikra commented on #47
Sounds good!

[2018-04-03 14:10] AleskiWeb opened #56 "Absolute paths, tsc complains it can't find the module"
Using this package with vs-code and when I am importing via the absolute path using the package.json file it tells me it can't find it. It still transpiles and works but it's kind of annoying.

I've seens some solutions include an index.d.ts file and declare the module there, for example:

In app.tsx
`import HeaderComponent from 'src/HeaderComponent`

In same folder as the `package.json { "name":

[2018-04-03 15:01] ds300 commented on #56
Hi!

I haven't run into that issue before. Did you make sure the `baseUrl` property is set in tsconfig.json?

See [here](https://github.com/ds300/react-native-typescript-transformer#typescript) for an example.

[2018-04-03 15:07] AleskiWeb commented on #56
I have yeah, like I said, it compiles and works but when I run `tsc` it tells me it can't find that module. Have you used the `paths` compiler option before? Seems to be a work around (for ts files atleast) to provide absolute paths.

[2018-04-03 15:17] ds300 commented on #56
Hmm the `baseUrl` property should take care of that, there should be no need for `paths`. Can I see your tsconfig, an illustration of your directory structure, and an example of an import statement that's not working?

[2018-04-04 08:43] Slessi commented on #56
I have the same issue. In my tsconfig I use

[code]

But neither of the following work when importing `./src/styles.ts` inside file `./src/App.tsx`:

[code]

Relative import continues to work
[code]

Worth nothing that `tsc` manages to compile the file when using any of the above 3 imports

[2018-04-04 10:51] Slessi commented on #56
@ds300 adding `{"name": "src"}` to `src/package.json` does make `src/styles` work, but really I prefer the combination of `index.ts` files and `baseUrl` and `paths`

[2018-04-04 11:16] ds300 commented on #56
Cool, let me know if you find a way to make react-native work with that setup!

[2018-04-04 11:27] ds300 commented on #50
Hi! I'm going to close this, since there doesn't seem to be any activity and I can't reproduce the problem. Let me know if it's still an issue for you!

[2018-04-04 11:27] #50 closed

[2018-04-04 16:07] wynch commented on #50
Sorry for not coming back sooner on this !

I did try the Rect Native Typescript template, and managed to make it work.
In the end, I think it was related to my package.json and package-lock.json being out of sync : I deleted the lock file and did and nom install again, it worked !

Thanks !

[2018-04-19 02:14] jwargo commented on #53
Just like with any other IDE, you simply click in the margin to set the breakpoint.  You can also highlight the line and press the F9 key.

[2018-04-20 15:18] sunnylqm opened #57 "Can you update source-map to improve performance?"
https://github.com/mozilla/source-map/blob/master/CHANGELOG.md
`SourceMapConsumer` now uses WebAssembly, which is much faster

[2018-04-21 09:57] ds300 commented on #57
Absolutely!

[2018-04-21 19:14] ds300 commented on #57
I ran into an issue with this and submitted a PR to source-map to fix it https://github.com/mozilla/source-map/pull/330 — will try again once that gets published.

[2018-04-24 09:54] liamjones commented on #43
@mosesoak Thanks for the workaround, using it for now. Was there a ticket raised on the TS repo I can follow regarding the changes discussed above?

[2018-04-24 10:10] ds300 commented on #43
@liamjones I found some discussion here: https://github.com/Microsoft/TypeScript/issues/8328

[2018-04-25 17:43] Fitzpasd opened #60 ""Unexpected token '.'" error when using whatwg-url"
When using the popular library [whatwg-url](https://www.npmjs.com/package/whatwg-url), I get this unhelpful error:

![screenshot-1524677787605](https://user-images.githubusercontent.com/1279954/39262539-83fbf214-4874-11e8-8182-46aecc9e138e.jpg)

I narrowed it down to this library by commenting out code locally.  In the end, this is the cause:

[code]

Without that code, no error occurs.  It's also

[2018-04-25 17:45] luisnaranjo733 commented on #60
I'm also hitting this

[2018-04-25 18:28] Fitzpasd commented on #60
Thanks for the extra info!  I'll find an alternative lib :)

[2018-04-25 18:28] #60 closed

[2018-04-25 18:34] ds300 commented on #60
Another link I found seems to imply that the JSC bug was fixed late last year but I guess RN hasn't caught up: https://bugs.webkit.org/show_bug.cgi?id=157970#c17

[2018-05-03 10:18] jasin755 opened #61 "Ignoring "outDir" from tsconfig.json"
react-native-typescript-transformer ignore `outDir` defined in my `tsconfig.json`

`tsconfig.json`:
[code]

and `rn-cli.config.js`

[code]

I use this command:
`/usr/local/bin/node /usr/local/lib/node_modules/react-native-cli start --config /Users/xxxxx/WebstormProjects/untitled2/rn-cli.config.js` to start app and typescript files always compile to same place where is original `ts/tsx` file

[2018-05-16 10:16] henrikra commented on #47
@ds300 Looks like the issue is closed? So we are getting rid of babel now? :O

[2018-05-16 15:00] skellock commented on #47
What a roller coaster.

* Babel 7 will support TS! 😮 🎈🎉
* but not all of it 😭 💥
* Hey, let's remove babel!  😮 🎈🎉
* But we can't cuz of a TS bug.  😢 💥
* It's fixed!:  😮 🎈🎉
* but we have to wait for 2.9  😪💥

You're killing me here David.

[2018-05-19 07:00] ds300 commented on #57
Sweet, thanks for the heads up! I'll take a look soon.

[2018-05-23 20:08] ds300 commented on #57
Just published `react-native-typescript-transformer@1.2.6` with the new `source-map` 🎉

[2018-05-23 20:08] #57 closed

[2018-05-24 07:56] dluksza opened #62 "TypeError: Cannot read property 'tokens' of undefined"
I'm using `jest-ts-preprocessor.js` from https://github.com/ds300/react-native-typescript-transformer/issues/39#issuecomment-356764981 and after upgrading to version `1.2.6` I'm getting this error:

[code]

[2018-05-24 09:05] ds300 commented on #62
Hi Dariusz! 👋The transformer is now async, and returns a promise. So you
need to update your preprocessor to wait for the promise to resolve. Let me
know how you get on!

On Thu, 24 May 2018, 08:56 Dariusz Łuksza, <notifications@github.com> wrote:

[2018-05-24 11:49] qwert666 opened #63 "Webassembly is not defined"
Getting the error after last upgrade to 1.2.6, missing some dependencies ?

[2018-05-24 11:51] ds300 commented on #63
I don't think so. It should come built into node. Which version of node are you running?

[2018-05-24 17:37] qwert666 commented on #63
[code]

[2018-05-24 17:40] #63 closed

[2018-05-24 20:21] ygorlazaro opened #64 "1.2.7 is breaking on Node9+"
Hi,

this last release is running an error using Node 9. While debugging we saw this error running from our CI, pointing to your lasted release.

My solution was rollback to 1.2.3 version.

[2018-05-24 20:30] ds300 commented on #64
Hi! 👋 Thanks for the report! What was the error message?

[2018-05-24 20:34] ygorlazaro commented on #64
This is the message I got:

[code]

[2018-05-24 20:34] ygorlazaro commented on #64
I'm using v9.9.0

[2018-05-24 20:42] ds300 commented on #64
😕🤔 I will look into this tomorrow.

[2018-05-24 21:03] ygorlazaro commented on #64
No problems, man. I'll see if I could help you on this!

[2018-05-24 21:16] ygorlazaro commented on #64
@ds300 , is there a reason to use `"engineStrict": false`? I know you want to mark this a required, since now the lib supports WASM, but can't it just be a warning setting `engineStrict` as false?

[2018-05-25 00:02] ankitmittal000 commented on #48
Is there any solution for this problem?

[2018-05-25 04:38] shroukkhan commented on #36
@ds300 it happens with latest version of the boilerplate. basically i tried this:

`ignite new OKKAMI3 --b ignite-typescript-boilerplate --min`

it all went well, but as soon as i start the packager :

` ┌────────────────────────────────────────────────────────────────────────────┐
 │  Running Metro Bundler on port 8081.                                       │
 │

[2018-05-25 06:14] ds300 commented on #48
Sorry I haven't looked into this issue

[2018-05-25 09:38] skellock commented on #48
For the record, I’m having no problems with source maps in production on react native 0.54.

[2018-05-25 09:48] djereg commented on #48
Hmm, I have, and waiting patiently for the solution. React 0.55.4

[2018-05-25 10:04] henrikra commented on #48
Hmm could it be that I am also using `ignite-ignore-reactotron` plugin in production builds. @skellock

[2018-05-25 10:16] ds300 commented on #64
Yeah I'll do that. I'm pretty sure `">=8.0.0"` is correct syntax, so this is really baffling. But I suppose an erroneous warning is better than an erroneous error.

[2018-05-25 10:26] ds300 commented on #64
alright, just publushed 1.2.8 without engineStrict!

[2018-05-25 10:26] #64 closed

[2018-05-25 13:04] ygorlazaro commented on #64
Great, I'll try right now! Thanks!

[2018-05-25 15:13] ds300 commented on #56
I'm going to close this issue due to inactivity. Please open a new issue and link to this one if you're still having trouble with absolute paths! :pray:

[2018-05-25 15:13] #56 closed

[2018-05-25 15:15] ds300 commented on #32
I'm going to close this issue due to inactivity. If you're still having trouble with imports, please feel free to open another issue and link to this one :pray:

[2018-05-25 15:15] #32 closed

[2018-05-25 15:16] ds300 commented on #34
I'm going to close this issue due to inactivity. If you're still having trouble with hot reloading, please feel free to open another issue and link to this one :pray:

[2018-05-25 15:18] ds300 commented on #35
I'm going to close this issue because it's a duplicate of #29 — if you feel this is a separate issue, please feel free to open another issue and link to this one :pray:

[2018-05-25 15:18] #35 closed

[2018-05-25 15:19] ds300 commented on #36
I'm going to close this issue due to inactivity. If you're still having trouble with bundling, please feel free to open another issue and link to this one :pray:

[2018-05-25 15:19] #36 closed

[2018-05-25 15:23] ds300 commented on #61
I'm going to close this issue due to inactivity. If you're still having trouble with compilation, please feel free to open another issue and link to this one :pray:

Thanks for fielding this one, @aMarCruz 🙌

[2018-05-25 15:23] #61 closed

[2018-05-25 19:22] ygorlazaro commented on #64
It worked. Sorry the delay to answer you

[2018-05-25 19:32] skellock commented on #48
## Config

Here's the relevant snippets from what I'm using.

<details>
<summary>package.json</summary>

[code]
</details>

<details>
<summary>tsconfig.json</summary>

[code]
</details>

<details>
<summary>rn-cli.config.js</summary>

[code]
</details>

<details>
<summary>babel.rc</summary>

[code]
</details>

## Crash In Action

<details>
<summary>App Center sample crash (see frame 2)</summary>

<

[2018-05-25 19:58] dluksza commented on #62
Now I do wait for the transformer to resolve, but the `ast` property of result doesn't have `code` field nor is a string. Therefore I'm getting this error:

[code]

[2018-05-25 20:12] ds300 commented on #62
Yes. As mentioned [here](https://github.com/ds300/react-native-typescript-transformer/issues/39#issuecomment-356764981) you need to use babel-generator to render the ast as a string.

Adapting the code in that comment to be async:

[code]

(I haven't tested this)

[2018-05-25 20:14] ds300 commented on #62
Argh, it might not be possible: https://github.com/facebook/jest/issues/2711

In which case you'll need to revert to react-native-typescript-transformer@1.2.5

[2018-05-25 20:18] ds300 commented on #62
Actually I'm going to revert to that myself. Updating source-map has raised quite a few issues and I don't believe the alleged perf wins are worth the extra work it has caused for me and other people whose builds it broke.

[2018-05-25 20:18] dluksza commented on #62
This looks same as my solution, and it produces the same error.

[2018-05-25 20:20] dluksza commented on #62
OK, will revert to `1.2.5`. Thanks for the help and quick responses!

[2018-05-25 20:20] #62 closed

[2018-05-25 20:26] ds300 commented on #62
Alright 1.2.9 is the same as 1.2.5.

[2018-05-25 20:30] ds300 commented on #57
I decided to revert this change. It broke some people's builds already, and would probably break some more in the coming weeks. I don't think the perf improvements from wasm are worth the time and effort required from the people this affects. Maybe I'll try again in a while.

[2018-05-31 17:01] ankitmittal000 commented on #11
I have tried to test this issue with new version of React Native and I am still able to reproduce it on both android and iOS. I have forked https://github.com/hffmnn/react-native-typescript-starter which is itself a fork of  https://github.com/cbrevik/react-native-typescript-starter.

My changes just include changing various versions of dependencies in package.json

So here are the steps

[code]

[2018-06-01 07:34] ds300 commented on #47
https://twitter.com/typescriptlang/status/1002230349521338368?s=19

🎊💃🕺🎉

Unfortunately I'm busy with non-tech stuff for a few days, but I'll work on a new release ASAP.

[2018-06-01 12:59] lukewis commented on #3
@cbrevik How did you get your tsx files to show up in the chrome debugger in the first place?  I've been googling for hours on this but coming up blank.  Are you able to point me in the right direction?

[2018-06-01 17:53] ankitmittal000 commented on #48
I have put this comment on other issue (https://github.com/ds300/react-native-typescript-transformer/issues/11) but seems that one is closed. Since this one is related so putting it here.

I have tried to test this issue with new version of React Native and I am still able to reproduce it on both android and iOS. I have forked https://github.com/hffmnn/react-native-typescript-starter which is itse

[2018-06-05 14:41] jas99 commented on #34
yup still happening

[2018-06-05 15:59] ds300 commented on #34
Any chance you could reproduce this issue in a public repo?

[2018-06-05 16:02] jas99 commented on #34
yea lemme do it :)

[2018-06-05 17:02] jas99 commented on #34
Thr you go
https://github.com/jas99/rn_ts_hmr_issue_34

[2018-06-05 17:04] ds300 commented on #34
Dope thanks! I'll look at this later tonight.

[2018-06-05 17:04] jas99 commented on #34
@ds300

Although also tried https://www.npmjs.com/package/react-native-template-typescript.

Lemme attach my envs
[code]

[2018-06-05 17:07] jas99 commented on #34
Basically once I change code, on my device it gives me toast msg of hmr update and then disappears without making any updates.

Lemme know if you need more info.

[2018-06-05 17:09] ds300 commented on #34
Just double checking: hot reloading works ok if you use the standard non-typescript setup?

[2018-06-05 17:28] jas99 commented on #34
It definitely does.

[2018-06-05 19:53] ds300 commented on #34
This fixed it for me: tsconfig.json

[code]

[2018-06-06 06:27] jas99 commented on #34
Thx very much for your time, it worked for me as well 😄.
Feel free to close it.

[2018-06-06 07:30] #34 closed

[2018-06-06 14:11] jas99 commented on #34
For anybody else stumbling on it; HMR also don't work with `"jsx": "react-native"`, it need to be `"jsx": "react"`

Thx

[2018-06-07 08:07] jsslai commented on #53
Debugging is working for me but sometimes I'm unable to set breakpoint to a specific line and it might jump elsewhere. Do you know what is causing that?

[2018-06-07 22:47] ajcrites opened #66 "Hot Reloading TypeScript component triggers rendering of ancestor TypeScript components"
I'm not sure that this is directly related to this transformer, but this is quite frankly the best documentation for working with React Native and TypeScript that I can find, so I'm hoping that it can either be fixed in the transformer directly or at least someone has some advice.

It seems like if you make a change to a TypeScript, .tsx component it triggers a render of any ancestors during hot r

[2018-06-13 12:33] alexmbp opened #69 "What is the right way to extract source maps?"
Hi there! I need a way to extract source maps for production build. To have good crash reporting. What is the right way to do it?

[2018-06-13 12:56] skellock commented on #69
One way is to run this in your project's root directory:

[code]

Press enter, and go grab a cup of coffee.

Some notes:

* `--dev false` ensures you cut a production build.  `metro` will shake out unneeded imports and remove `if (__DEV__)` chunks o' code
* `--platform ios` has a `android` option too
* `--entry-file index.js` is the default entry point... if you've changed this manually you'll kno

[2018-06-13 14:38] ds300 commented on #66
Thanks for the report, and for submitting a repro :heart:

This issue slipped off my radar, apologies for that. I'll try to take a look some time this week.

[2018-06-13 14:42] ds300 commented on #66
Just had a very quick look, one thing we discovered the other day was that the `target` and `module` options in tsconfig.json are important for hot reloading. You need to set both of them as `es2015`.

Don't have time to test right now.

[2018-06-13 14:50] ajcrites commented on #66
Thanks so much, seems like that does make it work! I honestly don't really understand the `target` / `module` stuff well ... are there any other consequences to changing these?

[2018-06-13 14:57] ds300 commented on #66
At the moment, this transformer uses babel as a secondary transpiler, so the only limitation is that the `target` needs to be supported by the babel config in your project. I'm not aware of any features that TS's most advanced target, `ESNext` would output that RN's default babel config could not cope with, so maybe it doesn't matter. That could be wrong, or it could change in the future, so es201

[2018-06-13 14:58] ds300 commented on #66
I should just make the transformer overwrite the `target` and `module` options to prevent these issues in the future.

[2018-06-13 15:31] ajcrites commented on #66
Actually `jest` / `ts-jest` (haven't narrowed it down) seem to require `commonjs` or else I'll get "Unexpected token import" when running tests. It's not a huge deal since I can use a different configuration when testing vs. building, but wondering if you have any insight into that that might help me or others.

[2018-06-13 16:08] ds300 commented on #66
Hmmmm good point. I hadn't considered that. I know it's possible to use babel as a secondary transpilation step with ts-jest too, maybe I should encourage that. Otherwise, yes, the two-different-configs thing is easy enough to do. I'm going to leave this issue open to remind me to do something about this.

[2018-06-14 15:45] birkir opened #70 "Hot reload not working in 0.56.0-rc.0"
HMR does not work with react-native@0.56.0-rc.0

[2018-06-14 15:47] ds300 commented on #70
Thansk for the report! Can you post your tsconfig file?

[2018-06-14 16:02] birkir commented on #70
Yessir

[code]

Diff:
[code]

I am trying to gather as much info as I can to help resolve the problem.

They seem to have moved hmrConfig to a separate file so I can't see the diff
https://github.com/facebook/metro/blob/master/packages/metro/src/hmrConfig.js

[2018-06-14 16:08] ds300 commented on #70
Awesome, thanks!

As a first step, can you try this:

[code]

[2018-06-14 16:29] birkir commented on #70
Thanks for the quick reply, setting the module property to es2015 didn't work for me. Also tried jsx from react to react-native without any luck.

[2018-06-14 17:36] ds300 commented on #70
Hmm looks like they added a `plugins` field to the transform props

https://github.com/facebook/metro/blob/d894a24f4352004df73be6c9ed24f4de7d4da341/packages/metro/src/reactNativeTransformer.js#L154

Maybe passing that along will help.

[2018-06-18 15:35] Strayer commented on #17
Seems like the newest React Native RC does use Babel 7. https://github.com/facebook/react-native/releases/tag/v0.56.0-rc.2

Did anyone already try using TypeScript directly with that version?

[2018-06-19 13:37] ifiokjr commented on #34
@ds300 you sir are a legend amongst us mere mortals! If you haven't guessed... your fix worked for me.

Another suggestion for those who are still seeing crashes with Hot Module Reloading when using React Native in a Typescript environment; make sure to get rid of any circular dependencies.

A great library for helping with this is [tslint-no-circular-imports](https://github.com/bcherny/tslint-no-

[2018-06-29 14:18] creambyemute opened #71 "'Property destructuring pattern expected' at transform when trying to type destructuring"
Hey there,

So I have this in createDrawerNavigator from React-navigation:

[code]

and wanted to type the tintColor like this: ```{ tintColor } : { tintColor: string }```.

Unfortunately when trying to run the bundling fails with
[code]

TSLint is set to recommended and react and the TSConfig targets es2018 with `"lib": ["dom", "es2015", "es2016"],`

Am I being stupid and doing it wrong or is the

[2018-06-29 14:49] creambyemute commented on #71
Turned out it worked after a machine reboot.

Whatever :-)

[2018-06-29 14:49] #71 closed

[2018-07-02 13:14] henrikra commented on #48
Still having this problem like @ankitmittal000

[2018-07-03 10:53] GeeWee commented on #17
Babel has some limitations - in regards to e.g. things like const enums, as it only transpiles one file at a time. For many things, babel should work fine, but not for all.
(Though if this transformer uses transpileModule internally, I think it has the same limitations)

[2018-07-03 10:54] GeeWee commented on #66
Jest requires commonjs, not a ts-jest thing.

[2018-07-04 03:57] ajcrites commented on #66
@GeeWee can you explain a bit more about what you mean or provide an example repo?

[2018-07-04 08:32] GeeWee commented on #66
I mean that jest requires the transpiled code to be in the CommonJS module format - so in ts-jest we try to ensure that the module format is set to that as the standard, unless the user explicitly overrides it (because they're using babel to do it themselves eg)

Did that make sense?

[2018-07-06 06:29] fbartho commented on #70
I too am suffering from this, but I'm suffering from worse; it doesn't even get as far as reported by birkir.

I'm trying the released `react-native 0.56`

<details>
<Summary>Config Files</Summary>
tsconfig.json
[code]
.babelrc
[code]
I also tried adding: `"@babel/plugin-proposal-object-rest-spread",` to plugins.

rn-cli.config.js
[code]
package.json dependencies
[code]
</details>

I'm getting nea

[2018-07-06 11:15] iRoachie commented on #70
You can just upgrade to 0.56, i have no issues with hot reloading on the actual release

[2018-07-06 16:34] fbartho commented on #70
@iRoachie would you mind sending me gusts of your tsconfig, .babelrc, and Rn-cli.config files? I’d love to see the config for a working typescript with Rn 56. I’m not sure what I did wrong, above.

[2018-07-06 21:41] iRoachie commented on #70
tsconfig.json
[code]

.babelrc
[code]

rn-cli.config.js
[code]

[2018-07-06 22:23] fbartho commented on #70
@iRoachie Oh! I didn't know anything about the `'metro/src/blacklist'` module.

For that matter, I didn't know about babelrc's alias mode either. Both of those are very neat!

I'm going to try the blacklist, maybe that's key to avoiding compiling things wrong for us.

[2018-07-07 20:20] birkir commented on #70
Thanks for the update, will try and reporter back.

[2018-07-18 06:12] tonypee commented on #70
seems this might be the issue.. not sure how to fix

https://github.com/babel/babel/issues/7318

[2018-07-18 15:43] orta opened #73 "Remove the CLI config file"
👋 - I was looking at updating the docs for RN around the cli-config.js file, and in digging around in the RN source code, I noticed that we might not need to do that anymore.

Basically, we added the cli-config to ensure that [this code](https://github.com/facebook/react-native/blob/04aaa01991b2b6af9587f4edb6a897e05fc5e1f8/local-cli/dependencies/dependencies.js#L28-L33) could resolve to this dep.

[2018-07-22 12:42] doomsower opened #74 "Support tsconfig inheritance via extends option"
I have a monorepo with multiple typescript projects. To keep tsconfigs simple and synced I decided to extract common `tconfig.json` in project root and extend it inside packages. For react-native projects, `yarn run tsc` works fine, however packager fails.

It seems that `react-native-typescript-transformer` only reads top-level tsconfig and doesn't follow `extends` hierarchy.

It would be nice if

[2018-07-23 03:06] VitorLuizC commented on #73
`--transformer "react-native-typescript-transformer"` looks for transformer in root instead of node_modules. Full transformer path is required otherwise it throws the error below.

[code]

The second problem is extensions also need `tsx`, without `tsx` it won't find any TypeScript component.

So, the right command would be

[code]

[2018-07-23 13:53] orta commented on #73
Yeah, I agree, I don't see much value also - I went and documented this file a bit on the site https://github.com/facebook/react-native-website/pull/462

[2018-08-15 18:12] jochem725 opened #76 "Breakpoints jump to a different line"
I’ve set up `react-native-typescript-transformer` using the guide described on the [website of React Native](https://facebook.github.io/react-native/blog/2018/05/07/using-typescript-with-react-native) both using an existing react-native project with version `0.55.1` and a clean project with version `0.56.0`.

In both versions, if I use this in combination with VSCode and Chrome setting a breakpoin

[2018-08-15 19:00] jochem725 commented on #76
I’ve created a sample project [here] based on the typescript article on the RN blog (https://github.com/jochem725/ts-breakpoints). The steps to reproduce (on iOS) are
- Launch App using XCode
- Enable remote debugging
- Attach debugger in VSCode
- Set breakpoint (i.e. on `Hello.tsx` line 67)

If you do this, you will see the breakpoint jump to a different line.

[2018-08-25 09:41] nico1510 opened #77 "Broken in react-native@0.57.0-rc.3"
I'm aware that I'm a bit early here but I just wanted to let you know or ask if the transformer might be broken in the newest version of react-native ?

[code]

I'm getting this error which lets me think that babel is trying to transform the code before the typescript transformer jumps in.

[2018-08-25 16:53] kristerkari commented on #77
I'm also interested in knowing about the compatibility of the soon to be released 0.57 version.

At least the v0.57 has changes to the Metro bundler config. I'm not really sure what changes are needed though.

[2018-08-26 06:08] dalcib commented on #77
Since the version [0.43.3](https://github.com/facebook/metro/releases/tag/v0.43.3), Metro has native support for Typescript by Babel 7.0.0 Plugin.
See  [Add TypeScript support to React Native](https://github.com/facebook/metro/commit/196fda1592e1c01b39a6f0a5d107a1d6266612fc) and [#209](https://github.com/facebook/metro/pull/209/files)
The react-native 0.57-rc3 comes with Metro 0.43.6
I don't know

[2018-08-26 16:36] olegsmetanin commented on #56
How to avoid 'src' in imports?
import HeaderComponent from 'nav/HeaderComponent' // without src/ in path

[2018-08-30 18:46] nico1510 commented on #77
You're right the typescript is now supported out of the box in react-native. I had to change my code to

[code]
to make the babel typescript compiler accept it. I'm going to leave this issue open since metro is not even trying to make use of this transformer anymore but feel free to close it if you think it's not worth looking into now that typescript is supported by babel.

[2018-09-02 18:09] ningacoding opened #78 "Decorator breaks HRM with error: Unable to delete property"
how to reproduce:
https://github.com/dalcib/expo-ts-example

add class:

In "/src/App.tsx"
add a property with  above decorator

[2018-09-12 14:49] iRoachie commented on #70
@dengue8830 https://github.com/iRoachie/channel-app

[2018-09-12 15:15] birkir commented on #70
There is typescript support shipped with RN 56/57, HMR works fine.

[2018-09-12 15:17] iRoachie commented on #70
@birkir You should know that it doesn't actually run your typescript through the typescript compiler, it only removes your types, similar to how it treats flow files.

[2018-09-14 08:50] acuntex commented on #77
Could you add some notice to the README that it's not needed anymore in 0.57?
(Which is awesome for react-native, but sad for this transformer :-( )

[2018-09-14 10:48] kristerkari commented on #77
Yup, Typescript is supported by default in 0.57. No transformers needed.

[2018-09-15 21:27] marcelkalveram commented on #70
I had to update `react-native-typescript-transformer` from 1.2.5 to version 1.2.10. This line in particular seems to resolve the issue: https://github.com/ds300/react-native-typescript-transformer/blob/master/index.js#L20

[2018-09-20 01:29] xufeipyxis commented on #77
@kristerkari Could you point me how to set up typescript with react native 0.57? I don't quite understand "No transformers needed".

[2018-09-20 02:03] sunnylqm commented on #77
@xufeipyxis React Native should be able to pick up `.ts` and `.tsx` files automatically, and transpile them using Babel.

[2018-09-20 06:18] kristerkari commented on #77
@xufeipyxis I updated one of my project that was using this library to React Native 0.57. I removed transformer and the project continued working normally. So I guess that you only need to install Typescript.

Here are my changes when updating to 0.57:
https://github.com/kristerkari/react-native-css-modules-with-typescript-example/commit/d4ec640b374200011f9a3f5f3f462f2b0b58ac53#diff-c2e7e130f67fd2

[2018-09-23 06:57] vovkasm commented on #77
For people that still want to use this module, solution is simple. In file `rn-cli.config.js` remove keys `getTransformModulePath` and `getSourceExts`, and add section:
[code]

For documentation, see https://facebook.github.io/metro/docs/en/configuration

[2018-09-23 08:27] nico1510 commented on #77
thanks @vovkasm I think this can be closed

[2018-09-23 08:27] #77 closed

[2018-09-23 16:55] JonET commented on #77
Man, I'm new to react-native.  I just started trying to figure out why react native was being so strange wrt to typescript and this finally explains everything. The existing guides out there are all wrong right now.

[2018-09-25 02:10] aMarCruz commented on #77
@vovkasm thanks! I prefer the support for `const enum` than the marginal gain in speed.

[2018-09-27 20:35] JKillian commented on #74
Ran in to this error myself today, and got a mysterious error from react-native:

[code]

because of this line:

https://github.com/ds300/react-native-typescript-transformer/blob/7aa16d351a14068b1dcfa95aa99edaa163686700/index.js#L187

As it turns out, my `tsconfig` file didn't have a `compilerOptions` field defined because it uses `extends` to inherit from a different file. A nicer error message h

[2018-09-28 09:03] shukla12manish commented on #70
I am also getting the same error , did u got any solution for this ? @fbartho
react-native-cli: 2.0.1
react-native: 0.57.1
node: v8.11.3
npm: 5.6.0

[2018-09-29 11:39] #69 closed

[2018-09-30 06:48] ifiokjr commented on #34
@ykensuke that looks like a different issue.

There are two potential fixes. Either import firebase as follows:

[code]

Or, perhaps easier, update your tsconfig.json to include the following two properties.

[code]

It looks like

[2018-10-08 22:48] andrey-shostik opened #80 "Cannot find module warning for json"
I just created RN app and connected typescript. When I try to import json I get warning that cannot find module, but json is imported properly, and I can use its data https://prnt.sc/l3rtus. what should I do?

[2018-10-09 16:45] andrey-shostik commented on #80
fixed by adding "resolveJsonModule": true to tsconfig

[2018-10-09 16:45] #80 closed

[2018-10-11 01:16] andrey-shostik opened #81 "Support for the experimental syntax 'decorators-legacy' isn't currently enabled"
I recently created app with typescript by this [article](https://facebook.github.io/react-native/blog/2018/05/07/using-typescript-with-react-native), and I have error when try to apply decorator to a method
error screenshots: https://prnt.sc/l4nors, http://prntscr.com/l4np8r
tsconfig: https://pastebin.com/UsczCQ70

[2018-10-17 20:05] youngjuning commented on #46
0.57.3 is not support

[2018-10-18 02:17] super918180 commented on #81
I got the same problem

[2018-10-18 09:16] chawax opened #82 "Problems with SVG or HTML files"
Hi,

I have a problem importing html or SVG assets. And I think the problem occurs with any files that are not JS, TS or JSON ones.

For example :
[code]

The `htmlContent` and `svgContent` variables contains the value `1` and not the content of HTML or SVG file. I had not this problem using ES6, so I think it comes from Typescript but I can't find any solution.

I am using React Native 0.55.4. Tr

[2018-10-19 01:40] andrey-shostik commented on #81
@super918180 I fixed this issue with following steps:
* Install ```@babel/plugin-proposal-decorators```
* Change .babelrc https://pastebin.com/QdddctRN

But I'm not sure that it is right way.

[2018-10-19 03:44] jameslee523 opened #83 "SyntaxError: Unexpected token for string literal types with back ticks"
Hello,

I'm converting our build process which used to leverage `tsc --watch` having our `index.js` entrypoint import from `build\app.js` to use react-native-typescript-transformer.

Declaring a string literal type which has backticks in it does not work.

So, this used to compile & run fine:
```type a = `test`;```

Error Output:
error: bundling failed: SyntaxError: .../file.ts: Unexpected token

[2018-10-19 03:53] jameslee523 opened #84 "Add documentation around why / how react-native-typescript-transformer works"
It seems like most templates / tutorials nowadays with react-native + typescript suggest to use this package without much explanation about why / how it works - which is fine, but without much explanation besides "Seamlessly use TypeScript with react-native >= 0.45", it took a bit of digging to figure out how this actually works.

I found these two answers helpful to actually explain what was goin

[2018-10-21 10:13] fantasy525 opened #85 "Module `@components/Hello` does not exi st in the Haste module map"
my tsconfig.json
[code]
and my app.tsx
[code]
and tsc check is no errors but bundling failed
[code]
why?

[2018-10-24 08:17] FabianMeul commented on #85
I'm facing the same issue.

tsconfig.json
[code]

SomeComponent.tsx
[code]

[code]

[2018-10-30 21:11] amol-c commented on #48
@henrikra Any resolution/workaround on this issue?

[2018-10-31 06:17] henrikra opened #86 "Is this needed anymore?"
I was just thinking is this library needed anymore since you can use Babel 7 to compile TypeScript 🤔

[2018-11-01 17:53] aMarCruz commented on #86
For me, yes. Babel does not supports `const enum`, something that I use too much.
(Also, does not supports namespaces, but I don't use these).

[2018-11-02 10:36] tkulpa commented on #85
Im also having this problem, did you find solution for this? @FabianMeul, @fantasy525?

[2018-11-02 13:55] Lxxyx commented on #85
Same issue, any updates?

[2018-11-06 13:13] animaonline commented on #53
@jsslai I'm having the same issue, I think it has something to do with the source maps not being generated correctly. Were you able to solve your problem?

[2018-11-08 07:48] jsslai commented on #53
@animaonline  No. I usually add extra console.log rows until VS code is able to add the breakpoint. :D

[2018-11-08 12:16] rogerkerse commented on #15
I was googling for hours as well. When using typescript I would have expected yellow and red screens in the app for warnings and errors as well. For example if you create-react-app and create typescript project, then your webpage is covered with error when there is something wrong in code. With this in react-native it swallows all up :(

[2018-11-09 23:55] stepankoci commented on #85
Add the `package.json` file to the `components` (target) directory with following content:
[code]
(i'm not sure about `@` in the package name)

[2018-11-10 04:08] Lxxyx commented on #85
@fantasy525 @FabianMeul @tkulpa
By follow @stepankoci reply, Issue resolved.

[2018-11-13 21:53] chawax commented on #86
I agree we still need this library because of problems with Babel 7 (namespaces, enums, generated code not compatible with the default Android JSC, ...). But how do you configure Metro to still use `react-native-typescript-transformer` instead of Babel 7 in a React Native 0.57 project ?

[2018-11-13 21:55] aMarCruz commented on #86
@chawax , my rn-cli.config.js :

[code]

[2018-11-13 21:56] chawax commented on #86
Thanks, I will give it a try when I'll be at work tomorrow !

[2018-11-14 08:11] chawax commented on #86
It works ! You saved my life 👍 I was thinking about giving up Typescript in my React Native project because of this !

[2018-11-14 08:16] fantasy525 commented on #85
yes,thank you @stepankoci ,it work for me

nice ,it works for me

[2018-11-14 08:16] #85 closed

[2018-11-14 08:19] fantasy525 commented on #86
my rn-cli.config.js:
[code]

[2018-11-14 08:33] chawax commented on #86
@fantasy525 Your solution will not work with React Native 0.57.4 if you use enums or namespaces because the Babel 7 Typescript transformer will be used.

[2018-11-14 08:35] fantasy525 commented on #86
so this  can work with rn 0.57.4?
[code]

[2018-11-14 09:00] chawax commented on #86
Yes, exactly 👍

[2018-11-18 08:42] tonyxiao commented on #86
Babel7's typescript also does not support emitting decorator metadata - disabling a lot of decorator based typescript libraries such as TypeDI and TypeORM.

Also, we really need to update the docs to fix this - just spent 2 hours debugging metro-loader before finally deducing this was the solution also.

[2018-11-18 11:53] fantasy525 commented on #86
Hi,I find this configuration can  work at rn 0.57.5
[code]

[2018-11-26 05:49] CepheiSigma commented on #81
if you are using latest rn,the rn-cli.config.js should be like this
`module.exports = {
    transformer: {
        babelTransformerPath: require.resolve('react-native-typescript-transformer'),
    },
};`
you can follow the metro-bundler document
[https://facebook.github.io/metro/docs/en/configuration](url)

[2018-11-27 07:40] JReinhold commented on #47
hey @ds300 , how's the 2.0 coming along? Honestly I'm just unsure if I should set `"module": "es2015"` in `tsconfig` or not, based on the info in the README.

[2018-11-29 22:30] dsherret opened #88 "Support custom transformers?"
What are your thoughts on adding the ability for this tool to support custom transformers?

Details:

* The `ts.transpileModule` function (used [here](https://github.com/ds300/react-native-typescript-transformer/blob/7aa16d351a14068b1dcfa95aa99edaa163686700/index.js#L210)) supports providing custom transformers as an option ([see here](https://github.com/Microsoft/TypeScript/blob/1dbe063215a17b3f5

[2018-12-17 19:54] henrikra commented on #86
@chawax Hey you said that the compiled TS code with babel is not working on React Native Android? Can you send link to this issue because I havent heard of it 🤔 ?

[2018-12-17 21:11] chawax commented on #86
Here is a link on the bug I encountered : https://github.com/facebook/react-native/issues/21074

It looks like TS code compiled with Babel is not compatible with some Android versions (< 5.0) and also with iOS 9.3.

[2018-12-18 06:57] henrikra commented on #86
So you are saying that if I want to support Android < 5.0 and iOS <= 9.3 then I still have to use react-native-typescript-transformer to compile my code? But if I don't support these OS versions then I can use babel to do the transforming? :)

[2018-12-18 07:13] afshin-hoseini commented on #86
@aMarCruz One day I'll travel to Mexico and invite you for 🍺
You saved my 4 days of confusing...

[2018-12-18 07:43] chawax commented on #86
@henrikra Well it probably depends on your project. The problem might come from a library I include in my project or from the Typescript code I generated from Swagger. If it is not the case for your project, Babel 7 TS compilation may work. Just give it a try on a Android 4.4 emulator for example ;)

[2018-12-18 11:02] ds300 commented on #86
I updated the readme

[2018-12-23 12:36] egorAva commented on #81
It's work for me!

[2018-12-23 14:48] fantasy525 commented on #46
thank you ,I set jsx 'react-native',but i got a error:can't find the variable React;
so I set jsx 'react',it works!

[2018-12-23 15:01] fantasy525 commented on #15
Have you found a solution?

[2019-01-05 03:46] noer180895 commented on #81
still bug decorators-legacy' isn't currently enabled

[2019-01-24 08:41] Matrixbirds opened #89 "How to use the module in to a custom react native module write in typescript"
I got many many problem...
Anyone has made the demo or article, pls post here. thx.

[2019-01-27 15:49] #89 closed

[2019-01-28 13:08] fantasy525 commented on #86
I think it is very necessary,the typescript compiler knows typescript better than Babel,I'll keep using this until Babel converts typescript with fewer problems,thank you!

[2019-02-16 20:04] RevanScript opened #90 "Doesn't work with RN 0.59"
Hello,

After upgrading to 0.59.0-rc.1 it stopped working:

[code]

I suppose it's related to metro version (https://github.com/facebook/metro/issues/111#issuecomment-456457949)

[2019-02-18 22:09] br4in3x commented on #81
@andrey-shostik thanks! Could you please explain how your solution works?

[2019-03-04 13:17] ATShiTou commented on #81
@andrey-shostik I tried your solution. But it is different from the previous version.
[code]

It works well in the the previous version, but got this error after updating.

[2019-03-04 13:22] ATShiTou commented on #90
I have the issue with RN0.59 , too. It does not work at all.

[2019-03-10 05:27] devprakashbinary commented on #56
still I have same issue absolute path is not working even I have make the required changes in tsconfig.json as well as add package.json file in my app folder

[2019-03-13 08:28] swissmanu commented on #90
so far, we had to add `react-native-typescript-transformer` through the `rn-cli.config.js` file. this does not work anymore.

we can achieve the known behavior by putting the configuration into the new `metro.config.js` file instead:

[code]

this worked for me with `react-native@0.59`.

[2019-04-04 00:48] mbret commented on #48
For some reason our app has the same issue. The sourcemaps when using debug remotely on chrome are ok but when debug remotely is turned off they are broken.

the sourcemaps were also broken when using this package for jest and switching to ts-jest fixed that.

[2019-04-19 12:37] alexmbp opened #94 "How to enable decorators support?"
I use react-native-typescript-transformer because I need fully working decorators to use with my DI library (https://github.com/inversify/InversifyJS)

I have reflect-metadata installed and transformer is working, but looks like decorators metadata lost somewhere.

My tsconfig
[code]

Additionally I see, that TS part works ok
[code]

[2019-04-19 15:39] ds300 commented on #94
Did you add it in tsconfig.json?

On Fri, 19 Apr 2019, 13:37 Oleksandr Didovych, <notifications@github.com>
wrote:

[2019-04-22 08:39] alexmbp commented on #94
@ds300 Yes. I did. Generally I've found an issue. Issue was with code itself. I was thinking about babel/transformer, because where trying to make decorators working with babel plugins for proposal decorators, but caught an issues with property decorators. Everything is good with transformer.
Thank you!

[2019-04-22 08:39] #94 closed

[2019-06-03 04:55] tomusiaka2 commented on #81
Installing these two plugins and updating `babel.config.js` seems to be working for me:

[code]

[2019-06-04 17:05] chaotive opened #95 "Using this on 0.59"
Hi guys!

I'm trying to update to react native 0.59, but we have used some of the "forbidden" stuff for Typescript on Babel7:
- Namespaces
- Imports with require

As a consequence, the project cannot compile on metro. It is not clear to me if I can avoid Babel7 and use full-fledged Typescript still, by using react-native-typescript-transformer. Documented configuration has not helped me get this t

[2019-06-04 20:16] ncuillery-youitv commented on #74
@doomsower @JKillian Kudos to both of you.

Thanks to you, I manage to workaround the issue by adding `compilerOptions: {}` in my `tsconfig.json` file

[2019-06-05 00:20] ncuillery-youitv commented on #74
Nevermind, the `compilerOptions` in the parent `tsconfig.json` are not read so it's not a viable solution 😄

[2019-06-10 16:24] mptorz commented on #26
@jasonkuhrt I had the same issue and it was blocking me for 4 hours. Thank you so much man! If you are in London I will buy you a beer or something xD

[2019-06-10 19:01] jasonkuhrt commented on #26
@mptorz sounds good lol, or also if you're ever in Montreal ever :D

[2019-07-30 16:22] #74 closed

[2020-01-05 08:10] Roaders commented on #94
@alexmbp did you get this working? I am having similar issues getting Ivversify working with React. Do you have an example repo where you manage to get this working?
Thanks

[2020-01-18 20:09] technoplato commented on #56
@Meligy solution worked for me with WebStorm 👍

[2020-04-20 09:10] kulikalov opened #100 "Is there way to output errors in debugger console?"
Hi!
What is the canonical strategy to keep track of the whole project type checks real-time? If I make a typing mistake in a file, my code editor will highlight it for sure. But how do I get notified about errors in other files? Should I add tslinter script and make it run alongside with transformation, or, maybe, this library can do this?

[2020-06-09 19:50] jwaldrip commented on #100
I would love to see that too. It looks at this time, it only transpiles.

[2020-12-17 03:33] danielmtavares commented on #48
I found one in [metro-symbolicate](https://github.com/facebook/metro/tree/v0.64.0/packages/metro-symbolicate). And was able to symbolicate my source maps. With it, you'll be able to verify if the source map is pointing back to the correct lines or not.

[code]

Don't mind the output. That's a local test I did that doesn't match the code on previous comments.

[2021-08-19 15:31] sjerratsch commented on #94
@Roaders
This package solved it for me. Babel removes the metadata from "reflect-metadata". Not sure if this exactly fits your problem, but maybe someone will find this link helpful: [https://www.npmjs.com/package/babel-plugin-transform-typescript-metadata](https://www.npmjs.com/package/babel-plugin-transform-typescript-metadata)

[2022-11-29 16:54] johnlaine1 commented on #83
Same here
type TYear = \`${number}${number}${number}${number}\`;